@import"../utils/mixins.scss";
@import"../utils/variables.scss";
@import "../utils/colors.scss";

.fonctionemment {
    counter-reset: steps;
    margin-bottom: 2rem;
    margin-top: 2rem;

    & ol {
        gap: 2rem;
        display: flex;

        @media (max-width: $breakpoint) {
            flex-direction: column;
        }
    }

    & li {
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            transform: translateY(-50%);
            left: -$font-height;
            bottom: 5%;
            position: absolute;
            place-items: center;
            display: grid;
            height: 2 * $font-height;
            width: 2 * $font-height;
            border-radius: 50%;
            background-color: $color-primary;
            color: white;
            counter-increment: steps;
            content: counter(steps);
        }

        list-style-type: none;
        border-radius: 1rem;
        flex-grow: 1;
        padding: 1.5rem 2rem;
        background-color: #f6f6f6;
        @include background-shadow;

        &:hover {
            @include zoom;
            @include gradient;
            opacity: 0.9;
        }

        & i.fas {
            font-size: 1.5rem;
            color: $lightgrey;
            margin-right: 1rem;
        }
    }
}