@import "../utils/variables.scss";
@import "../utils/colors.scss";
@import "../utils/mixins.scss";

#homepage{
    .menus{
        margin-bottom: 2rem;
        background-color: #f6f6f6;
        .menus__cards{
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            display: grid;
            @media (max-width: $breakpoint){
                grid-template-columns: repeat(1, 1fr);
            }
            .new{
                position: relative;
            }
            .new::before{
                top: 1rem;
                right: 1rem;
                place-items: center;
                display: grid;
                color: darken($color-tertiary, 50%);
                background-color: $color-tertiary;
                width: 5rem;
                height: 2rem;
                position: absolute;
                content: "Nouveau!";
            }
        }
        .card{
            border: 1px solid blue;
            flex-grow: 1;
            &__image{
                border-radius: 1rem 1rem 0 0 ;
                background-size: cover;
                height: 15rem;
                background-position: center;
            }
            @for $i from 1 through 4 {
                &__image-#{$i} {
                    background-image: url(../../assets/menu-#{$i}.jpg)
                }
            }
            .card__description{
                @include heart-animated;
                h3,
                p{
                    padding: 1rem;
                }
            }
        }
    }
}