@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500Sfamily=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0; }

main {
  padding: 0 7rem; }
  @media (max-width: 1000px) {
    main {
      padding: 0 1rem; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

header {
  margin: 0;
  position: relative;
  padding: 0.3rem;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "Shrikhand", cursive; }

.ville {
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1.5rem;
  text-align: center;
  background-color: #EAEAEA; }
  .ville i {
    font-size: 2.5rem; }

@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes disappear {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes spin {
  to {
    transform: rotate(360deg); } }
.reserver {
  text-align: center; }
  .reserver h2 {
    font-size: 1.5rem;
    margin: 1rem; }
  .reserver p {
    font-size: 1rem; }
  .reserver button {
    cursor: pointer;
    font-weight: 300;
    margin-top: 1rem;
    transition: transform 200ms;
    border-radius: 2rem;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    box-shadow: 2px 1px 8px -3px #7E7E7E; }
    .reserver button:hover {
      opacity: 0.9;
      transform: scale(1.02); }

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #fff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 2s forwards;
  animation-delay: 2s;
  transform-origin: bottom; }
  .loader::after {
    content: "";
    border: 16px solid #f3f3f3;
    border-top: 16px solid #99E2d0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9)); }

.fonctionemment {
  counter-reset: steps;
  margin-bottom: 2rem;
  margin-top: 2rem; }
  .fonctionemment ol {
    gap: 2rem;
    display: flex; }
    @media (max-width: 1000px) {
      .fonctionemment ol {
        flex-direction: column; } }
  .fonctionemment li {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    border-radius: 1rem;
    flex-grow: 1;
    padding: 1.5rem 2rem;
    background-color: #f6f6f6;
    box-shadow: 2px 1px 8px -3px #7E7E7E; }
    .fonctionemment li::before {
      transform: translateY(-50%);
      left: -1rem;
      bottom: 5%;
      position: absolute;
      place-items: center;
      display: grid;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      background-color: #9356DC;
      color: white;
      counter-increment: steps;
      content: counter(steps); }
    .fonctionemment li:hover {
      transform: none scale(1.02);
      background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
      opacity: 0.9; }
    .fonctionemment li i.fas {
      font-size: 1.5rem;
      color: #7E7E7E;
      margin-right: 1rem; }

#pagedaccueil .menus {
  margin-bottom: 2rem;
  background-color: #f6f6f6; }
  #pagedaccueil .menus .menus__cartes {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    display: grid; }
    @media (max-width: 1000px) {
      #pagedaccueil .menus .menus__cartes {
        grid-template-columns: repeat(1, 1fr); } }
    #pagedaccueil .menus .menus__cartes .new {
      position: relative; }
    #pagedaccueil .menus .menus__cartes .new::before {
      top: 1rem;
      right: 1rem;
      place-items: center;
      display: grid;
      color: #1b6150;
      background-color: #99E2d0;
      width: 5rem;
      height: 2rem;
      position: absolute;
      content: "Nouveau!"; }
  #pagedaccueil .menus .carte {
    flex-grow: 1; }
    #pagedaccueil .menus .carte__image {
      border-radius: 1rem 1rem 0 0;
      background-size: cover;
      height: 15rem;
      background-position: center; }
    #pagedaccueil .menus .carte .carte__inside {
      border-radius: 0 0 1rem 1rem;
      background-color: white;
      position: relative;
      padding: 0.3rem; }
      #pagedaccueil .menus .carte .carte__inside::before {
        position: absolute;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f004";
        font-size: 2rem;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: inherit;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 1;
        transition: all 200ms ease-in-out; }
      #pagedaccueil .menus .carte .carte__inside::after {
        position: absolute;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f004";
        font-size: 2rem;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
        background-image: linear-gradient(to top, #9356dc, #ff79da); }
      #pagedaccueil .menus .carte .carte__inside:hover::after {
        opacity: 1;
        transform: translateY(-50%) scale(1.2); }
      #pagedaccueil .menus .carte .carte__inside h3,
      #pagedaccueil .menus .carte .carte__inside p {
        padding: 0.5rem; }

footer {
  color: white;
  padding: 0 2rem;
  background-color: #353535; }
  footer h2 {
    padding: 1rem 0;
    font-weight: 500;
    font-family: "Shrikhand", "sans-serif"; }
  footer p {
    padding: 0.2rem; }

@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes disappear {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes spin {
  to {
    transform: rotate(360deg); } }
body {
  background-color: #f6f6f6; }

#page-resto header::before {
  font-size: 20px;
  transform: translateY(-50%);
  top: 50%;
  left: 1rem;
  content: "\f060";
  transition: transform 200ms;
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }
#page-resto header:hover::before {
  transform: translateY(-50%) scale(1.2); }
#page-resto .banniere img {
  display: block;
  object-position: center;
  object-fit: cover;
  height: 70vh;
  width: 100%; }
#page-resto .resto__titre {
  margin-top: -2rem; }
  #page-resto .resto__titre h2 {
    padding: 2rem 1rem;
    font-family: "Shrikhand", "cursive";
    border-radius: 0 0 1rem 1rem;
    background-color: white;
    position: relative;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6; }
    #page-resto .resto__titre h2::before {
      position: absolute;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      content: "\f004";
      font-size: 2rem;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: inherit;
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 1;
      transition: all 200ms ease-in-out; }
    #page-resto .resto__titre h2::after {
      position: absolute;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f004";
      font-size: 2rem;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 0;
      transition: all 200ms ease-in-out;
      background-image: linear-gradient(to top, #9356dc, #ff79da); }
    #page-resto .resto__titre h2:hover::after {
      opacity: 1;
      transform: translateY(-50%) scale(1.2); }
#page-resto .resto-main {
  padding: 0 1rem; }
#page-resto .menus {
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  align-content: center;
  align-items: flex-end; }
  @media (max-width: 1000px) {
    #page-resto .menus {
      grid-template-columns: 1fr; } }
  #page-resto .menus h3 {
    margin-bottom: 1rem;
    position: relative;
    font-weight: 400;
    text-transform: uppercase; }
    #page-resto .menus h3::after {
      left: 0rem;
      top: 1.5rem;
      position: absolute;
      background-color: #99E2d0;
      width: 3rem;
      height: 0.25rem;
      content: ""; }
  #page-resto .menus .menus__family {
    overflow: hidden; }
    #page-resto .menus .menus__family .menu-element {
      margin: 0.5rem;
      overflow: hidden;
      display: flex;
      border-radius: 1rem;
      animation: appear 1s;
      animation-fill-mode: both;
      box-shadow: 2px 1px 8px -3px #7E7E7E; }
      #page-resto .menus .menus__family .menu-element:nth-child(1) {
        animation-delay: 200ms; }
      #page-resto .menus .menus__family .menu-element:nth-child(2) {
        animation-delay: 400ms; }
      #page-resto .menus .menus__family .menu-element:nth-child(3) {
        animation-delay: 600ms; }
      #page-resto .menus .menus__family .menu-element .menu-element__prix {
        padding: 1rem;
        align-items: flex-end;
        display: flex;
        font-weight: 900;
        margin-left: auto; }
      #page-resto .menus .menus__family .menu-element .menu-element__inside {
        overflow: hidden;
        padding: 1rem; }
        #page-resto .menus .menus__family .menu-element .menu-element__inside h4,
        #page-resto .menus .menus__family .menu-element .menu-element__inside p {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
      #page-resto .menus .menus__family .menu-element .menu-element__check {
        flex-shrink: 0;
        place-items: center;
        display: grid;
        transition: margin-right 0.5s;
        border-radius: 0 1rem 1rem 0;
        width: 4rem;
        margin-right: -4rem;
        background-color: #99E2d0; }
        #page-resto .menus .menus__family .menu-element .menu-element__check i {
          color: #99E2d0;
          border-radius: 1rem;
          width: 2rem;
          height: 2rem;
          background-color: white;
          place-items: center;
          display: grid; }
      #page-resto .menus .menus__family .menu-element:hover .menu-element__check {
        cursor: pointer;
        margin-right: 0; }
      #page-resto .menus .menus__family .menu-element:hover i {
        animation: quarter-spin 0.5s ease-in-out; }
@keyframes quarter-spin {
  0% {
    transform: rotate(120deg); }
  50% {
    transform: rotate(120deg); }
  100% {
    transform: rotate(120deg); } }
#page-resto .commande {
  place-items: center;
  display: grid;
  height: 13vh; }
  #page-resto .commande button {
    cursor: pointer;
    font-weight: 300;
    margin-top: 1rem;
    transition: transform 200ms;
    border-radius: 2rem;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    box-shadow: 2px 1px 8px -3px #7E7E7E; }
    #page-resto .commande button:hover {
      opacity: 0.9;
      transform: scale(1.02); }

/*# sourceMappingURL=style.css.map */
